<ion-view view-title="Profile">
  <ion-content>
	<div class="center profile-image">
		<img src="img/avengers.jpg" height="100%" width="100%">
	</div>

  <div class="list">

    <a class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-person"></i>
      Jayesh Vekariy
      <i class="icon ion-edit" ng-click="updateName()"></i>
    </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios-location"></i>
    A-101, Akshat Icon, Nr. Sargasan Cross Road, Gandhinagar.
    <i class="icon ion-edit" ng-click="updateAddress()"></i>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-email"></i>
    jgv1593@gmail.com
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-iphone"></i>
    +919558479970
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-cart"></i>
    Your Orders
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-bookmark"></i>
    Your Posts
  </a>
</div>
  </ion-content>
</ion-view>
