<ion-view view-title="Post Book">
  <ion-content>
    <div class="SellMainCard">
      <div class="row barcodeButton">
        <div class="row">
          <div class="col col-50 col-offset-25" align="center">
            <button class="button button-large ion-ios-barcode-outline button-stable"></button>
            <p>Scan Barcode</p>
          </div>
        </div>

      </div>
      <div class="row devider">
          <div class="col col-40"><hr></div>
          <div class="col col-20" align="center">OR</div>
          <div class="col col-40"><hr></div>
      </div>
      <div class="row">
        <div class="list bookInputForm">
          <div class="item item-input item-floating-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="Title">
          </div>
          <div class="item item-input item-floating-label">
            <span class="input-label">Author</span>
            <input type="text" placeholder="Author">
          </div>
          <div class="item item-input item-floating-label">
            <span class="input-label">Publication</span>
            <input type="text" placeholder="Publication">
          </div>
          <div class="item item-input item-floating-label">
            <span class="input-label">Price</span>
            <input type="text" placeholder="Price">
          </div>
          <div class="item item-input item-floating-label">
            <span class="input-label">ISBN</span>
            <input type="text" placeholder="ISBN">
          </div>

          <label class="item item-input item-select">
            <div class="input-label">
                Condition
            </div>
            <select>
              <option>Old</option>
              <option selected>New</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
                Category
            </div>
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
          </label>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
